* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#controls {
  padding: 8px;
}

#building {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 8px;
  gap: 8px;
}

/* Button styles on each floor */

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
}

.floor-btn-container {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50px;
}

.floor-btn-container button {
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.floor-btn-container button:hover {
  cursor: pointer;
}

.floor-btn-container button:active {
  transform: scale(1.1);
}

.up-btn {
  background-color: mediumaquamarine;
}

.down-btn {
  background-color: lightsalmon;
}

/* Floor styles */

.floor-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: 1;
  position: relative;
  overflow-x: scroll;
}

.floor-main {
  border-bottom: 2px solid black;
}

/* Lift styles */

.lift {
  position: absolute;
  height: 80px;
  width: 50px;
  background-color: cornflowerblue;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.lift div {
  flex: 1;
  background-color: hotpink;
}

.door-left {
  border-right: 1px solid black;
}

.door-right {
  border-left: 1px solid black;
}

/* Floor Label Styles */

.floor-label-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.floor-label-cont {
  display: flex;
  flex-direction: column-reverse;
  height: 100px;
}

.floor-label {
  transform: translate(0, 50%);
  padding: 8px;
  background-color: white;
  font-weight: bold;
}
